<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Remote Sensor App</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sensor
                    Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">View Sensors</a></li>
                        <li><a href="#">Manage Sensors</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrap">
    <h2>Registered User Landing Page</h2>
    <img ng-src="img/homepage.jpeg" alt=" Home Image" class="center" width="400px;" height="150px;">
    <br/>
    <br/>

    <div class="sensors">
        <div class="btn-group inline">
            <h2>Sensor Management</h2>

            <form action="/sensor/view/">
                <div>
                    <input id="view-sensor-button" class="btn btn-primary" type="submit"
                           value="View Sensors">
                </div>
            </form>

            <form action="/partials/register_sensor.html" method="get">
                <div>
                    <input id="register-sensor-utton" class="btn btn-primary" type="submit"
                           value="Register Sensors">
                </div>
            </form>
        </div>

        <div style="display:inline-block">
            <form action="/partials/register_user.html" method="get">
                <div>
                    <input id="connectButton" class="btn btn-primary" type="submit"
                           value="Register New User">
                </div>
            </form>
        </div>

    </div>
</div>