<div id="main-container">
    <div id="main">
        <h1>
            <img alt="Sensor Registration" src="">
        </h1>

        <div id="login-form">
            <form action="/sensor/register/" method="post" id="register_sensor_form">
                <span class="errormessage">{{errormessage}}</span>
                <div>
                    <label for="sensor_name">Sensor Name: </label>
                    <input autocapitalize="off" autocorrect="off" class="text-input" id="sensor_name"
                           name="sensor_name" tabindex="1" type="text" value="">
                </div>
                <br>

                <div>
                    <label for="location">Location: </label>
                    <input class="text-input" id="location" name="location" tabindex="2" type="text"
                           value="">
                </div>

                <br>

                <div id="form_btn">
                    <input id="register-sensor-btn" class="btn btn-blue" type="submit" value="Add Sensor" tabindex="3">
                </div>
            </form>
        </div>
        <br/>
        <div>
            <a href="/partials/home.html">Home Page</a>
        </div>
    </div>
</div>