<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Wireless Temperature Monitoring App</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/partials/home.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sensor
                        Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/partials/view_sensors.html">View Sensors</a></li>
                            <li><a href="/partials/register_sensor.html">Manage Sensors</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/auth/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron bs-example">
        <br/>

        <h2>Sensor Registration</h2>

        <div id="sensor-form" class="form-signin">
            <form action="/sensor/register/" method="post" id="register_sensor_form">
                <span class="errormessage"></span>

                <div>
                    <br/>
                    <label for="sensor_name">Sensor Name: </label>
                    <input autocapitalize="off" class="form-control" autocorrect="off" id="sensor_name"
                           name="sensor_name" tabindex="1" type="text" value=""
                           placeholder="enter a name for your sensor" required autofocus>
                </div>
                <br>

                <div>
                    <label for="location">Location: </label>
                    <input id="location" class="form-control" name="location" tabindex="2" type="text"
                           value="" placeholder="zipcode" required>
                </div>

                <br>

                <div id="form_btn">
                    <input id="register-sensor-btn" class="btn btn-primary btn-lg" type="submit" value="Add Sensor"
                           tabindex="3">
                </div>
            </form>
        </div>
    </div>
</div>