<head>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Wireless Temperature Monitoring App</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/partials/home.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sensor
                        Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/partials/view_sensors.html">View Sensors</a></li>
                            <li><a href="/partials/register_sensor.html">Manage Sensors</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/auth/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron bs-example">
        <br/>
        <h2>New User Registration</h2>
        <div id="login-form" class="form-signin">
            <form action="/user/register/" method="post" id="register_user_form">
                <span class="errormessage"></span>

                <div>
                    <label for="screen_name">Twitter Screen Name: </label>
                    <input autocapitalize="off" class="form-control" autocorrect="off" class="text-input"
                           id="screen_name"
                           name="screen_name" tabindex="1" type="text" value="" required autofocus>
                </div>
                <br>

                <div>
                    <label for="name">Name: </label>
                    <input class="form-control" id="name" name="name" tabindex="2" type="text"
                           value="" required>
                </div>

                <br>

                <div id="form_btn">
                    <input id="signin-btn" class="btn btn-primary btn-lg" type="submit" value="Add User"
                           tabindex="3">
                </div>
            </form>
        </div>
    </div>
</div>