<div id="main-container">
    <div id="main">
        <h1>
            <img alt="Remote Sensor Application" src="">
        </h1>

        <div id="login-form">
            <form action="/sensor/register/" method="post" id="login_form">
                <h2>Sensor Registration</h2>
                <div>
                    <label for="sensorname">Sensor Name : </label>
                    <input autocapitalize="off" autocorrect="off" class="text-input" id="sensorname"
                           name="sensorname" tabindex="1" type="text" value="">
                </div>
                <br>

                <div>
                    <label for="location">Location: </label>
                    <input class="text-input" id="location" name="location" tabindex="2" type="location"
                           value="">
                </div>

                <br>
                <div id="form_btn">
                    <input id="save-sensor-btn" class="btn" type="submit" value="Register Sensor" tabindex="3">
                </div>
            </form>
        </div>
        <br/>

        <div class="col-xs-6">
            <button id="connectButton" type="button" href="/partials/home.html" class="btn btn-primary">User Homepage</button>
        </div>
        <br/>
    </div>
</div>